BasedOnStyle: Google
Language: Cpp

IndentWidth: 4
ContinuationIndentWidth: 8
UseTab: Never

ColumnLimit: 100
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
BinPackArguments: false
BinPackParameters: false
PenaltyBreakAssignment: 10
PenaltyBreakBeforeFirstCallParameter: 1

AlignArrayOfStructures: Right
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterNamespace: true
  AfterUnion: true
  BeforeElse: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

IncludeBlocks: Preserve
SortIncludes: true
IncludeCategories:
  - Regex: '^<.*'
    Priority: 1
  - Regex: '^".*'
    Priority: 2

AlignOperands: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
SpacesInConditionalStatement: true
